extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid") 
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus, velit sit amet pretium pellentesque, nisi felis hendrerit lorem, non imperdiet sapien purus eget mauris. Quisque vel ultrices magna. Fusce aliquet leo purus, ut lobortis arcu vulputate in. Maecenas placerat aliquet diam ut vestibulum. Nam nisi ex, sodales sed lacinia ac, maximus ut elit. Fusce gravida et urna.
                p In vestibulum a sapien a facilisis. In risus neque, tincidunt id ipsum vulputate, elementum tristique ipsum. Mauris nisi leo, consequat et urna vel, condimentum imperdiet mauris. Nunc vitae diam id massa porta dictum. Duis eu ultricies ex. Quisque sagittis, urna a consectetur mattis, arcu urna eleifend erat, in consequat sem tellus sit amet felis. Sed imperdiet nibh at aliquam cursus.
                p Nulla facilisi. Integer dignissim nec mi vitae viverra. Pellentesque in erat orci. Praesent tincidunt elit et mauris accumsan, at imperdiet erat sodales. Nulla vitae blandit sapien. Quisque viverra euismod turpis, at luctus purus consectetur in. Nulla facilisi. Ut sed mollis turpis. Class aptent taciti sociosqu ad litora torquent per conuris vel rirus dapibus sagittis non ac sapien

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p In vestibulum a sapien a facilisis. In risus neque,In vestibulum a sapien a facilisis. In risus neque, tincidunt id ipsum v

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p In vestibulum a sapien a facilisis. In risus neque,In vestibulum a sapien a facilisis. In risus neque, tincidunt id ipsum v

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p In vestibulum a sapien a facilisis. In risus neque,In vestibulum a sapien a facilisis. In risus neque, tincidunt id ipsum v